.newArrival .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #BF665E; /* Border around the title */
  padding: 10px; /* Padding inside the rectangle */
  width: fit-content; /* Make the rectangle wrap around the text */
  margin: 0 auto 20px; /* Center the rectangle horizontally */
  position: relative;
  top: -30px; /* Move the rectangle upwards */
  height: 90px;
  margin-top: 30px;
}

.newArrival .elegant-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
}

/* Estilos específicos para Best Sellers */
.newArrival .product-grid {
  display: grid;
  gap: 20px; /* Ajustar espacio entre las tarjetas */
  padding: 20px; /* Padding alrededor de la cuadrícula */
  justify-items: center; /* Centrar las tarjetas horizontalmente */
}

.newArrival .product-card {
  width: 400px; /* Ancho fijo para cada tarjeta */
  height: 600px;
  border: 1px solid #ddd; /* Borde ligero para cada tarjeta */
  padding: 15px; /* Agregar padding dentro de la tarjeta */
  text-align: center; /* Centrar el contenido */
  transition: transform 0.2s; /* Transición suave para hover */
   margin-right: 10px;
   margin-bottom: 150px;
}

.newArrival .product-card:hover {
  transform: translateY(-5px); /* Elevar ligeramente la tarjeta al hacer hover */
}

.newArrival .image-container img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  height: 470px; /* Altura fija para las imágenes */
  object-fit: cover; /* Ajusta la imagen para que encaje bien */
  border-radius: 4px; /* Bordes redondeados en las imágenes */
}

.newArrival .product-details {
  margin-top: 15px;
}

.newArrival .product-details h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Precio con descuento */
.newArrival .price-discount {
  color: #b63729;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Precio regular */
.newArrival .price-regular {
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.newArrival .old-price {
  text-decoration: line-through;
  color: #777;
  font-size: 0.9rem;
}

.newArrival .exclusive {
  font-size: 0.8rem;
  color: #007bff;
  font-weight: bold;
}

.newArrival .carousel-container {
  display: flex;
  justify-content: center;
}

.newArrival .custom-card {
  width: 30rem;
  margin-right: 50px;
  margin-bottom: 30px;
}

.newArrival .custom-card:last-child {
  margin-right: 0;
}

.newArrival .carousel-control-prev,
.carousel-control-next {
  background-color: #903b3b;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}