/* Fuentes personalizadas */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@font-face {
  font-family: 'Tan Mon Cheri';
  src: url('./assets/fonts/tan-mon-cheri.woff') format('woff')
       url('./assets/fonts/tan-mon-cheri.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#root {
  margin: 0 auto;
  text-align: center;
}


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */